.right5{ margin-right: 5px; }
.right10{ margin-right: 10px; }
.right15{ margin-right: 15px; }
.right20{ margin-right: 20px; }

.floatRight{ float: right; }
.floatLeft{ float: left; }

.top250{top:250px;}