.right5{ margin-right: 5px; }
.right10{ margin-right: 10px; }
.right15{ margin-right: 15px; }
.right20{ margin-right: 20px; }

.floatRight{ float: right; }
.floatLeft{ float: left; }

@for $i from 1 through 50 {
	$x: $i * 5;
	.top#{$i * 5}{ margin-top: $x }
	.bot#{$i * 5}{ margin-bottom: $x }
	.right#{$i * 5}{ margin-right: $x }
	.left#{$i * 5}{ margin-left: $x }
}

.contentWidth {
	width: 90%!important;
	margin: 0 auto;
}
 
.content320{
	width: 320px;
	margin: 0 auto;

	h1, h4 {
		text-align: initial;
	}

	select, input{
		width: 100%;
	}
}
.open{ background-color: #337ab7!important; }
.playing{ background-color: #5cb85c!important; }
.finished{ background-color: #d9534f!important; }

.fontSize13{ font-size: 13px; }

.absolute{ 
	position:absolute;
}