$themes: (
  theme-indie: (font-family: 'Indie Flower'), 
  theme-titillium: (font-family: 'Titillium Web'), 
  theme-montserrat: (font-family: 'Montserrat'), 
  theme-josefin: (font-family: 'Josefin Sans'), 
  theme-architects: (font-family: 'Architects Daughter')
);

@each $theme, $map in $themes {
  .#{$theme} {
    font-family: map-get($map, font-family);
  }
}

@import "config.scss";

@import "tile.scss";