@import "compass/utilities/sprites";
@import "Sprites1/*.png";
@include all-Sprites1-sprites;

@import "Sprites2/*.png";
@include all-Sprites2-sprites;

$themes: (
  theme-indie: (font-family: 'Indie Flower'), 
  theme-titillium: (font-family: 'Titillium Web'), 
  theme-montserrat: (font-family: 'Montserrat'), 
  theme-josefin: (font-family: 'Josefin Sans'), 
  theme-architects: (font-family: 'Architects Daughter')
);

@each $theme, $map in $themes {
  .#{$theme} {
    font-family: map-get($map, font-family);
  }
}

@import "config.scss";

$baseTileWidth: 70px;
$baseTileHeight: 90px;

.clicked{
	border: 3px solid red;
}