@import "config.scss";

.contentWidth {
	width: 90%!important;
	margin: 0 auto;
}

.open{ background-color: #337ab7!important; }
.playing{ background-color: #5cb85c!important; }
.finished{ background-color: #d9534f!important; }

.fontSize13{ font-size: 13px; }

.absolute{ 
	position:absolute;
}

@import "tile.scss";