$baseTileWidth: 70px;
$baseTileHeight: 90px;

@mixin background-image (){
	background-image: url('./../images/sprites.png');
}
@mixin background-position($xPos, $yPos){
	background-position: $xPos $yPos;
}
.clicked{
	border: 3px solid red;
}
.tile{
	@include background-image();
	width: $baseTileWidth;
	height: $baseTileHeight;
}

.tiny{
	 -ms-transform: scale(0.5 , 0.5); /* IE 9 */
    -webkit-transform: scale(0.5 , 0.5); /* Safari */
    transform: scale(0.5 , 0.5);
}

@for $i from 0 through 8 {
	$x: $i * -73;
	$y: 0; 
	.Character#{$i + 1} {
		@include background-position($x, $y);
	}
} 

.WindNorth { background-position: -657px 0px; }
.WindSouth { background-position: -730px 0px; }
.WindEast { background-position: -803px 0px; }
.WindWest { background-position: -876px 0px; }

@for $i from 0 through 8 {
	$x: $i * -73;
	$y: -90;
	.Bamboo#{$i + 1} {
		@include background-position($x, $y);
	}
}

.SeasonSpring { background-position: -657px -90px; }
.SeasonSummer { background-position: -730px -90px; }
.SeasonAutumn { background-position: -803px -90px; }
.SeasonWinter { background-position: -876px -90px; }

@for $i from 0 through 8 {
	$x: $i * -73;
	$y: -180;
	.Circle#{$i + 1} {
		@include background-position($x, $y);
	}
}

.FlowerBamboo { background-position: -657px -180px; }
.FlowerPlum { background-position: -730px -180px; }
.FlowerOrchid { background-position: -803px -180px; }
.FlowerChrysantememum { background-position: -876px -180px; }

.DragonGreen { background-position: -951px 0px; }
.DragonRed { background-position: -951px -90px; }
.DragonWhite { background-position: -951px -180px; }