<div class="col-md-5">
	<span class="label label-default">{{ gDetailController.game._id }}</span>
	<span class="label label-default floatRight {{ gDetailController.game.state }}">{{ gDetailController.game.state }}</span>
	<input type="button" value="Start Race" ng-click="gDetailController.startGame(gDetailController.game._id)" ng-show="gDetailController.game.state == 'open' && gDetailController.game.createdBy._id == gDetailController.username">
	<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Player id:</th>
	        <th>Name:</th>
	      </tr>
	    </thead>
	    <tbody>
	    	<tr  ng-repeat='player in gDetailController.game.players'>
	    		<td>{{ player._id }}</td>
	    		<td>{{ player.name }}</td>
	    	</tr>
	    </tbody>
	</table>
	<p class="floatLeft fontSize13"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> - {{ gDetailController.game.createdOn }}</p>
	<p class="floatRight fontSize13"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> - {{ gDetailController.game.createdBy.name }}</p>
	<span class="label label-default">#{{ gDetailController.possibleMatches }} matches</span>
	<p class="floatLeft fontSize13"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> - {{ gDetailController.game.gameTemplate._id }}</p>
</div>