<div class="alert alert-info" ng-if="gList.succesMessage != ''">
  {{ gList.succesMessage }}
</div>
<div class="alert alert-danger" ng-if="gList.errorMessage != ''">
  {{ gList.errorMessage }}
</div>
<button type="button" class="btn btn-primary right10" ng-click="myFilter={state:'open'}">Open</button><button type="button" class="btn btn-primary right10" ng-click="myFilter={state:'playing'}">Playing</button><button type="button" class="btn btn-primary right10" ng-click="myFilter={state:'finished'}">Finished</button><button type="button" class="btn btn-primary" ng-click="myFilter={state:''}">Clear</button><label class="floatRight">Search: <input ng-model="searchText"></label>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Created by:</th>
        <th>State:</th>
        <th>Created on:</th>
        <th>Players:</th>
        <th>Options:</th>
      </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="game in gList.games | filter:searchText | filter:myFilter">
    		<td>{{ game.createdBy.name }}</td>
    		<td>{{ game.state }}</td>
    		<td>{{ game.createdOn }}</td>
    		<td>{{ game.players.length }} / {{ game.maxPlayers }}</td>
    		<td><input type="button" class="btn btn-success right10" value="Join Game" ng-click="gList.addUser(game._id)" ng-show="game.state == 'open' && game.players.length < game.maxPlayers"><a class="btn btn-primary" ui-sref="gamedetail({id:game._id})" ui-sref-active="active" nav-transition="none">Details</a></td>
    	</tr>
    </tbody>
</table>