<div class="col-md-12 top20">
	<span class="label label-default">GameId: {{ gDetailController.game._id }}</span>
	<span class="label label-default floatRight {{ gDetailController.game.state }}">State: {{ gDetailController.game.state }}</span>
	<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Player email:</th>
	        <th>Name:</th>
	      </tr>
	    </thead>
	    <tbody>
	    	<tr  ng-repeat='player in gDetailController.game.players'>
	    		<td>{{ player._id }}</td>
	    		<td>{{ player.name }}</td>
	    	</tr>
	    </tbody>
	</table>
	<p class="floatLeft fontSize13 right15"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> - {{ gDetailController.game.createdOn }}</p>
	<p class="floatRight fontSize13 right15"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> - {{ gDetailController.game.createdBy.name }}</p>
	<p class="floatLeft fontSize13 right15"><span class="glyphicon glyphicon-folder-open right5" aria-hidden="true"></span> -  {{ gDetailController.game.gameTemplate._id }}</p>
	<p class="floatLeft fontSize13 right10"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> - {{ gDetailController.possibleMatches }} matches</p>
</div>
<div style="clear:both"></div>
<input type="button" class="btn btn-success top10 left10" value="Start Game" ng-click="gDetailController.startGame(gDetailController.game._id)" ng-show="gDetailController.game.state == 'open' && gDetailController.game.createdBy._id == gDetailController.username">