.theme{
	font-family: 'Architects Daughter';
}

@import "../config.scss";

@import "../style.scss";

.tile{
	width: $baseTileWidth;
	height: $baseTileHeight;
  	background-image: url('./../images/Sprites1-s7805ee5a98.png')!important;
}
